---
layout: compress
---

{% include head.html %}

<main>
  {% include header.html %}

  <div class="profile-image" style="text-align: center;">
    <div style="display: inline-block; margin: 0;">
      <img
        id="slideshow"
        alt="Slideshow Image"
        style="max-width: 300px; display: block; width: 100%; border-radius: 15px; border: 2px solid #111111;"
      />
      <p
        id="caption"
        style="font-family: 'Courier New', Courier, monospace; font-size: 12px; margin: 0;"
      ></p>
    </div>
    <script>
      const images = [
        {
          src: "/assets/images/me_sgp24.jpg",
          caption: "SGP 2024 at MIT Boston",
        },
        {
          src: "/assets/images/me_sigasia22.jpg",
          caption: "SIGASIA 2022 at Daegu, Korea",
        },
        {
          src: "/assets/images/me_cvpr24.jpg",
          caption: "CVPR 2024 at Seattle, US",
        },
      ];

      const randomIndex = Math.floor(Math.random() * images.length);
      document.getElementById("slideshow").src = images[randomIndex].src;
      document.getElementById("caption").textContent = images[randomIndex].caption;
    </script>
  </div>

  <div class="content-container" style="max-width: 1000px; padding: 0 20px; text-align: justify;">
    {{ content }}
  </div>
</main>

{% include footer.html %}
</body>
</html>
