---
layout: compress
---

{% include head.html %}

    <main>

        {% include header.html %}

    <div class="profile-image">
    <img src="/assets/images/me_sgp.jpg" />
    </div>
        
    {{ content }}

  <!-- <!-- News Section --> 
  <!-- <div class="news-section"> -->
  <!--   <h3>News</h3> -->
  <!--     <div class="news-list"> -->
  <!--         <ul> -->
  <!--           <li><strong>Oct 2024:</strong> Presented at the Symposium on Geometry Processing at MIT.</li> -->
  <!--             <li><strong>Aug 2024:</strong> Paper accepted at ACM SIGGRAPH 2024.</li> -->
  <!--             <li><strong>July 2024:</strong> Invited as a guest lecturer at IIT Delhi for Advanced Simulation Methods.</li> -->
  <!--             <li><strong>June 2024:</strong> Awarded the best paper award at CVIT Hyderabad Annual Symposium.</li> -->
  <!--             <li><strong>Aug 2024:</strong> Paper accepted at ACM SIGGRAPH 2024.</li> -->
  <!--             <li><strong>July 2024:</strong> Invited as a guest lecturer at IIT Delhi for Advanced Simulation Methods.</li> -->
  <!--             <li><strong>June 2024:</strong> Awarded the best paper award at CVIT Hyderabad Annual Symposium.</li> -->
  <!--             <!-- Add more news items as needed --> 
  <!--           </ul> -->
  <!--       </div> -->
  <!--   </div> -->
  <!-- </strong></li></ul></h3></div> -->

    </main>
	
    {% include footer.html %}

</body>
</html>
