---
layout: default
title: Publications
---

<style>
  .publications-list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }

  .publication {
    margin-bottom: 1.5rem; 
  }

  .publication h4 {
    margin: 0 0 0.25rem;
    font-size: 1.1rem; 
    font-weight: 600;
  }

  .publication .authors {
    margin: 0 0 0.25rem;
    font-size: 0.9rem;
  }


.conference-details {
  font-size: 0.9rem; 
}

.conference-details .conference {
  font-style: italic;
  color: #555555;
}

.conference-details a {
  font-size: 0.85rem; 
  color: #007bff;
}

.small-break {
  display: block;
  height: 1px; 
}

</style>

<h3>Publications</h3>

<ul class="publications-list">
  {% for publication in site.data.publications %}
    <li class="publication">
      <h4>{{ publication.name }}</h4>
      <p class="authors">
        {% for author in publication.authors %}
          {% if author.name contains "Chandradeep" %}
            <u>{{ author.name }}</u>{% unless forloop.last %}, {% endunless %}
          {% else %}
            {{ author.name }}{% unless forloop.last %}, {% endunless %}
          {% endif %}
        {% endfor %}
      </p>
    <p class="conference-details">
      <span class="conference">{{ publication.conference }}</span> | 
      {% for link in publication.links %}
      <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.text }}</a>
      {% endfor %}
    </p>
    </li>
  <span class="small-break"></span>

  {% endfor %}
</ul>
